{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>About this project</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus beatae blanditiis culpa dolor dolore doloremque dolores dolorum ducimus iusto natus, nesciunt odio odit recusandae repellat repellendus reprehenderit vel, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio enim eos, in laborum nam, nisi optio placeat quae quaerat quos rem repellat repellendus sapiente, similique temporibus tenetur velit voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores blanditiis culpa doloremque, et explicabo impedit laboriosam maiores minus molestias necessitatibus possimus qui quisquam sequi veniam. Autem esse illum similique!</p>
    </div>
{% endblock %}